name: Build

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ main ]
    paths-ignore:
      - 'README.md'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '17', '21', '24' ]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java ${{ matrix.Java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
      - uses: gradle/actions/setup-gradle@v5
      - name: Test with Gradle
        run: ./gradlew build
      - run: ./gradlew jacocoTestReport
      - uses: codecov/codecov-action@v1
